/* GENERAL RULES */
* {
 font-family: 'Roboto', sans-serif;
}
/* color  */
.blue {
  color: #006aff;
}
.black {
  color: black;
}
.darkgrey {
  color: #5c6a88;
}
.darkblue {
  color: #0F2656;
}
.white {
  color: white;
}
.grey {
  color: #4a72ca;
}
.turquese a {
  color: darkturquoise;
}
.lgf {
color: rgba(255,255,255,0.7)
}
/* end color  */
ul {
  list-style: none;
}

.power {
  font-weight: bold;
}
/* HEADER-NAVBAR*/
#my_navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFFF;
  line-height: 80px;
  z-index: 9000;
}
#my_navbar img {
 height: 30px;
}
.nav_left li,
.nav_right li {
 height: 50px;
 display: inline-block;
}
.nav_left li a,
.nav_right li a {
  text-decoration: none;
  padding-right: 5px;
  font-weight: bold;
  font-size: 14px;
  color: black;
}
.nav_button {
  background-color: #FFFF;
  padding-left: 5px;
  border: 1px solid #3c8bff;
}
#my_navbar > div > div > div.col-xs-6.col-md-6.col-lg-4.text-right > div > ul > li:nth-child(4) > a {
  color: #3c8bff;
}
.my_burger {
  color: #0049FF;
  font-size: 30px;
}
/* END NAVBAR */
/* CHAT BAR */
#chatbar {
  position: fixed;
  bottom:0;
  right: 0;
  z-index: 9000;
  width: 100%;
  cursor: pointer;
}
.chatbar_left {
  position: relative;
  float: right;
  border-radius: 5px;;
  display: inline-block;
  width: 285px;
  height: 55px;
  margin: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 10px 10px 30px 0px grey;
}
.chatbar_left:after {
	content: '';
	position: absolute;
  transform:rotate(45deg);
  background-color:White;
  height: 15px;
  width: 15px;
  bottom: 25%;
  left: 97%;
}
.chatbar_right {
  position: relative;
  display: inline-block;
  float: right;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  height: 80px;
  width: 80px;
  background-image: url(../img/shark.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #0049FF;
  border-radius: 5px;
  box-shadow: 10px 10px 31px -11px rgba(130,199,245,0.65);
}
.number {
  height: 30px;
  width: 30px;
  position: absolute;
  bottom: 75%;
  left: 75%;
  border-radius: 50%;
  border: 2px solid white;
  background-color: red;
  padding: 3px;
}
/* END CHAT BAR */
/* END HEADER */
/* MAIN */
/* Jumbo */
#my_jumbo {
  background-image: url(../img/oceanbg.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 80px;
}
.simplest {
 margin-top: 50px;
 margin-bottom: 50px;
 color:#FFFF;
 padding: 40px;
}
.simplest h1 {
 font-size: 60px;
}
.simplest p {
 font-size: 20px;
 color: #bbccff;
}
.deploy {
 margin-top: 100px;
 margin-bottom: 50px;
 background-color: white;
 border-radius: 10px;
 padding: 20px;
}
.btn_create {
  width: 100%;
  background-color: #579aff;
  color: white;
  margin-top: 10px;
}
.btn_google {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.my_google img {
  height: 15px;
}
.my_google {
  float: left;
}
.form_deploy {
  margin-top: 10px;
}
/* END Jumbo */
/* CUSTOMERS */
#customers {
  padding-top: 40px;
  background-color: #F3F5F9;
}
.innovative {
  text-transform: uppercase;
  color: #6f7b97;
  font-size: 20px;
}
.my_user_exp {
  padding-bottom: 20px;
}
.user_logo {
  padding: 0;
}
ul.user_logo li {
  display: inline-block;
  width: calc((100% / 6) - 10px)
}
ul.user_logo li img {
  width: 100%;
}
/* END CUSTOMERS */
/* DEPLOY */
#deploy {
  padding-top: 60px;
}
.deploy_heading h2 {
  font-size:35px;
}
.deploy_heading p {
  font-size: 23px;
  color: #6b7893;
}
.my_firstline {
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 20px;
}
.my_firstline ul {
  border-left: 1px solid grey;
}
.my_firstline ul li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 10px;
  color: #6b7893;
}
.my_firstline h4 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}
.my_firstline p {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #6b7893;
}
.my_secondline {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* END DEPLOY */
/* CREATE DROPLET */
#createdrop {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #F3F5F9;
  width: 100%;
}
 .arrowl .icon {
  margin-top: 210px;
  color: #6f7b97;
}
 .arrowr .icon {
  margin-top: 210px;
  color: #031c4e;
}
.icon {
  font-size: 40px;
}
.title_text h2 {
  padding-bottom: 20px;
}
.title_text p {
  font-size: 22px;
  color: #586686;
  padding-bottom: 40px;
}
.droplet_img {
  padding-bottom: 20px;
}
.my_createtxt {
  color: #586686;
}
.circle {
  color: #006aff;
}
/* END CREATE DROPLET */
/* FEATURES DIGITAL OCEAN */
#features {
  padding-top: 60px;
  padding-bottom: 60px;
}
.feat_txt {
  margin: 10px;
}
.feat_txt p {
  color: #707c97;
}
.feat_txt a {
  color: #006aff;
}
.feat_txt img {
  margin-top: 20px;
}
/* END FEATURES DIGITAL OCEAN */
/* SERVICE */
#service {
  background: linear-gradient(to right top, #00209B, #0069FF);
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}
.table_left,
.table_right {
  width: 100%;
  padding: 20px;
  margin: 10px 0;
  line-height: 40px;
}
.srv_title {
  font-size: 35px;
  color: white;
}
/* END SERVICE */
/* DEVELOPMENT */
#development {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #F3F5F9;
}
.rockerbox {
  background-color: white;
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
.rockerbox img {
  margin-top: 10px;
  margin-bottom: 10px;
}
.rockerbox p {
  font-size: 27px;
}
/* END DEVELOPMENT */
/* START NOW */
#get {
  background: linear-gradient(to right top, #00209B, #0069FF);
  padding-top: 100px;
  padding-bottom: 100px;
}
.get_button {
  background-color: white;
  margin-top: 10px;
}
/* END START NOW */
/* FOOTER */
footer {
  background-color: #031c4e;
}
.footer_logo {
  margin-top: 30px;
  color: rgba(255,255,255,0.7);
}
.footer_logo img {
  padding-bottom: 10px;
}
.footer_logo i {
  font-size: 25px;
  padding: 0 5px;
}
footer div .power {
  padding-top: 30px;
}
/* END FOOTER */

/* MEDIA QUERY CHATBAR */
@media screen and (max-width:992px) {
  #chatbar {
    position: fixed;
    bottom:0;
    right: 0;
    z-index: 9000;
    width: 100%;
    cursor: pointer;
  }
  .chatbar_left {
    position: relative;
    float: left;
    border-radius: 5px;
    min-width: 20%;
    height: 60px;
    margin: 10px 40px;
    padding: 10px;
    color: #0F2656;
    background-color: white;
    box-shadow: 10px 10px 30px 0px grey;
  }
  .chatbar_left:after {
    content: '';
    position: absolute;
    transform:rotate(45deg);
    background-color:White;
    height: 15px;
    width: 15px;
    bottom: 25%;
    left: 97%;
  }
  .chatbar_right {
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 40px;
    margin-right: 100%;
    margin-bottom: 15px;
    height: 80px;
    width: 80px;
    background-image: url(../img/shark.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #0049FF;
    border-radius: 5px;
  }
  .number {
    height: 30px;
    width: 30px;
    position: absolute;
    bottom: 75%;
    left: 75%;
    border-radius: 50%;
    border: 2px solid white;
    background-color: red;
    padding: 3px;
  }
}
/* FINE MEDIA QUERY CHAT BAR */
/* MEDIA QUERY XS */
@media all and (max-width: 767px){
  ul.user_logo li {
    display: inline-block;
    width: calc((100% / 3))
  }
  ul.user_logo li img {
    width: 75%;
  }
  footer div.power ul{
    padding: 0;
  }
}

/* FINE MEDIA QUERY XS */

/* MEDIA QUERY MD */
@media screen and (min-width: 768px) and (max-width:992px) {
  footer .footer_logo {
    padding-left: 43px;
  }
}
/* END MEDIA QUERY MD */
